*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: skyblue;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background-color: aqua;
}
.logo{
    font-size: 50px;
    background-color: aliceblue;
    padding: 10px 20px;
    border-radius: 10px;
}
 header nav ul{
    display: block;
    justify-content: left;
}