*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: skyblue;
    font-family:sans-serif;
    font-weight: bolder;
}
.header{
   
}
.header{
    display: flex;
    text-align: center;
    justify-content: space-between;
    
    background-color: aliceblue;
    width: 100%;
    
    margin-top: 7px;

    
}
.logo{
    font-size: 50px;
}